# ipsec.conf - strongSwan IPsec configuration file

config setup
        plutostart=yes
        nat_traversal=yes

conn ios
        keyexchange=ikev1
	fragmentation=yes
        left=%defaultroute
        leftauth=pubkey
        leftsubnet=0.0.0.0/0
        leftfirewall=yes
        leftcert={{ ipsec_dns_name }}.cert.pem
        right=%any
	rightauth=pubkey
	rightauth2=xauth-noauth
        rightsourceip={{ ipsec_subnet }}
	rightid="C=CN, O=SkyWalker, CN=*"
        auto=add
